<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>app.KnowledgeTree.chunkedKnowledgeExtraction</string>
		<string>app.KnowledgeTree.conceptResynthesis</string>
		<string>app.KnowledgeTree.weeklyLint</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>app.KnowledgeTree.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>iknow</string>
			</array>
		</dict>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>音声ファイルを文字に書き起こすために音声認識を使用します。処理は端末内で行われ、外部に送信されません。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
